input:active,
input:focus {
    outline: none;
}

input {
    font-size: 1.5rem;
    margin: 0.5rem 0;
    width: 100%;
    border: solid 2px $main-text-color;
    border-radius: 25px;
    height: 45px;
    padding: 1rem 1.4rem;
    box-sizing: border-box;
    background: #ffffff;
    color: $main-text-color;
    font-weight: $semibold;
}

input,
label {
    width: 100%;
}

.form-elements-wrap {
    max-width: 600px;
    padding: 1rem 0;
    margin: auto;
}

label {
    font-weight: $light;
    font-size: 2rem;
    text-align: left;
    margin: 0.5rem 0;
}

.error {
    font-size: 1.5rem;
    color: $secondary-color;
    margin: 0;
    font-weight: $bold;
}