html {
    font-size: 62.5%;
    color: $main-text-color;
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: $main-font;
    font-weight: $normal;
}

html,
body {
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h5,
h6 {
    margin: 2rem 0;
}

h1 {
    font-size: 4rem;
    font-weight: $bold;
    color: $main-color;
}

h2 {
    font-size: 3.5rem;
    font-weight: $bold;
    color: $secondary-color;
}

h3 {
    font-size: 3rem;
    font-weight: $bold;
    color: $main-color;
}

h4 {
    font-size: 2rem;
    color: $secondary-color;
    margin: 0.5rem 0;
}

p {
    font-size: 2rem;
}

span {
    font-weight: $bolder;
    color: $secondary-color;
}

hr {
    width: 100%;
    border: none;
    height: 6px;
    margin-bottom: 0;
    margin-top: 0;
    background: $secondary-color;
}

.db-error {
    @include py-medium;
    color: $secondary-color;
}

a {
    color: $secondary-color;
    text-decoration: none;
    font-weight: $bold;
    font-size: 2rem;
    &.main-link {
        font-size: 3rem;
    }
    &.active-link {
        color: $third-color;
    }
    &:hover {
        color: $third-color;
        text-decoration: underline;
    }
}

.main-page {
    @include px-xxl;
    @include pb-big;
    .welcome {
        @include py-medium;
    }
}

button {
    padding: 1rem;
    width: 100%;
    font-size: 2rem;
    border-radius: 25px;
    max-width: 250px;
    border: solid 3px $third-color;
    transition: 0.2s;
    text-transform: uppercase;
    &.main {
        color: $main-text-color;
        background: $secondary-color;
    }
    &.secondary {
        color: $white-color;
        border-color: $main-color;
        background: $main-color;
    }
    &:hover {
        transition: 0.2s;
        letter-spacing: 2px;
        &.main {
            background: $main-color;
            border-color: $main-color;
            background: $main-color;
            color: $white-color;
        }
        &.secondary {
            color: $main-text-color;
            border-color: $secondary-color;
            background: $secondary-color;
        }
    }
}

button:active,
button:focus {
    outline: none;
}